* {
    background-color: #e1e3db;
    text-align: center;
}

p{
    color: #70160e;
}

h2 {
    background-color: #b9030f;
    color: white;
    padding: 1%;
    font-family: 'Bebas Neue', cursive;
}

header li{
    display: inline;
}

#CorTexto{
    background-color: #161917;
    color: #e1e3db;
}

article h3{
    background-color: #70160e;
    color: #e1e3db;
}