body {
    color: #ffffff;
}


h1 {
    font-family: 'Alkatra', cursive;
    color: #ffffff;
    background-color: black;
    text-align: center;
}

body {
    background-color: navy;
}

h3 {
    color: #ffffff;
}

ul {
    color: #ffffff;
}