@charset "uft-8" ;

.container{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    /* grid-template-areas: "filho1 filho1 filho2 filho2 ." "filho3 filho3  filho4 filho4 .";
    column-gap: 10px;
    row-gap: 15px; */
    justify-items:end ;
}

.item-1 {
    border: 1px solid #000;
    background-color: red;
    width: 50px;
    height: 50px;
    /* grid-area: filho1; */
}

.item-2 {
    border: 1px solid #000;
    background-color: green;
    width: 50px;
    height: 50px;
    /* grid-area: filho2; */
}

.item-3 {
    border: 1px solid #000;
    background-color: blue;
    width: 50px;
    height: 50px;
    /* grid-area: filho3; */
}

.item-4 {
    border: 1px solid #000;
    background-color: yellow;
    width: 50px;
    height: 50px;
    /* grid-area: filho4; */
}
